#pagosTitle {
    text-align: center;
    padding: 1.5625rem 0;
}

#payments {
    display: flex;
    justify-content: space-between;

    #pagosDatos {
        width: 72%;
        padding: 2.5rem 1.675rem;
        border-radius: 1.5625rem;
        box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
        height: 38rem;

        h2{
            text-align: center;
        }

        #bTabla {
            margin: 25px 0;
            display: flex;
            justify-content: flex-end;
        }

        #tablaPago {
            height: 25.5rem;
            overflow: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 5px;
                overflow: hidden;

                &-thumb {
                    background-color: #042241;
                    border-radius: 10px;
                }
            }

            table {
                tr {
                    th{
                        text-align: center;

                        &:nth-of-type(2), &:nth-of-type(1) {
                            width: 1.5625rem;
                        }
                    }


                    td{
                        text-align: center;

                        .btn {
                            font-size: 0.75rem;
                        }
                    }

                }
            }
        }
    }

    #pagosMenu {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 22%;
        height: 18.4375rem;
        padding: 1.25rem 0;
        border-radius: 1.5625rem;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;

        h2 {
            font-size: 1.75rem;
        }

        .btn {
            width: 68%;
            margin: 0.75rem 0;
            color: white;
            border-radius: 0.5rem;
        }
    }
}