$primary-color: #30391F;
$dark-color: #464646;
$light-color: #FFFFFF;
$c-primary-color: #668A4C;
$c-secundary-color: #ACCC7B;
$dark-green: #3F9047;
$red: #B40001;
$ligth-red: #FF3334;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$yellow: #ffed4a;

