@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800;900&display=swap');
@import './colors';
@import './variables';


@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #D0FFCB;

        &-thumb {
            background-color: #5DC460;
            border-radius: 10px;

            &:hover {
                background-color: #42AB49;
            }
        }
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
}