@import '../../../sass/index.scss';

.carousel-item{
    height: 91vh;
    overflow: hidden;
    
    img {
        margin-top: -115px;
        width: 100%;
    }
}

.carousel-caption{
    width: 420px;
    left: 64% !important;
    
    .jumbotron{
        background-color: rgba($primary-color, $alpha: 0.7);
        min-height: 250px;
        max-height: 260px;

        h2{
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }

        button {
            width: 120px;
        }
    }
}