@import '../../../sass/index.scss';

#home{

    .container{
        padding-top: 50px;
    }

    .halfCircle{
        height: 75px;
        width: 100%;
        border-radius: 50% 50% 0 0;
        -moz-border-radius: 50% 50% 0 0;
        -webkit-border-radius: 50% 50% 0 0;
        background: $dark-green;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo{
            color: #eee;
            padding-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 32px;
                margin-top: -14px;
                margin-right: 5px;
            }

            p {
                font-size: 18px;
            }
        }
   }
}