@import '../../../sass/index.scss';

#home{
    .container{
        padding: 50px 0;

        h1{
            font-size: 48px;
            text-align: center;
            margin-bottom: 50px;
        }
        
        
        .about{
            margin-bottom: 40px;
            
            h2{
                font-size: 36px;
                margin-bottom: 35px;
            }

            & > div{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                #about-img{
                    img{
                        width: 430px;
                    }
                }

                #about-box{
                    margin-left: 45px;
                    
                    .philosophy{
                        font-size: 17px;
                    }
                }
            }
        }

        .commitment{
            & > div{
                display: flex;
                justify-content: space-between;
                align-items: center;

                #commiment-img{
                    width: 450px;
                }

                #commiment-box{
                    width: 650px;
                    margin-right: 45px;
                }
            }
        }
    }

    .halfCircle{
        height: 75px;
        width: 100%;
        border-radius: 50% 50% 0 0;
        -moz-border-radius: 50% 50% 0 0;
        -webkit-border-radius: 50% 50% 0 0;
        background: $dark-green;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo{
            color: #eee;
            padding-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 32px;
                margin-top: -14px;
                margin-right: 5px;
            }

            p {
                font-size: 18px;
            }
        }
   }
}