@import '../../../../sass/index.scss';

#loginCDer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    div{
        width: 80%;
        height: 70%;

        img{
            width: 4.6875rem;
            margin: 1.5625rem 0;
        }

        h2{
            font-weight: bold;
            font-size: 2.5rem;
            margin-bottom: 2.1875rem;
        }

        button {
            display: block;
            width: 80%;
            margin: 2.5rem auto;
            border-radius: 1.5625rem;
            font-size: 1.25rem;
            font-weight: bold;
            padding: .625rem;
        }

        .form-group {
            width: 80%;
            margin: 0 auto;

            input {
                font-size: 1.125rem;
                margin-bottom: 1.875rem;
            }
        }
    }
}

@media all and (max-width: 720px){
    #loginCDer {
        div {
            img {
                width: 4.0625rem;
            }

            h2 {
                font-size: 2.25rem;
            }

            button {
                width: 90%;
                font-size: 1rem;
            }

            .form-group {
                width: 90%;

                input {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media all and (max-width: 390px) {
    #loginCDer {
        div {
            img {
                width: 3.4375rem;
            }

            h2 {
                font-size: 1.75rem;
            }

            button {
                width: 100%;
                font-size: 0.875rem;
            }

            .form-group {
                width: 100%;

                input {
                    font-size: 0.875rem;
                }
            }
        }
    }
}